.header__title {
    max-width: 730px;
    margin-left: 64px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    z-index: 2;
  
    font-size: 102px;
    line-height: 96px;
    font-weight: 700;
  }